@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Work+Sans:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
}

.Maincontent{
    width: 100%;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-image: url(Background.png);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 20px;
}
.Container1{
    width:80%;
    margin: auto;
    padding: 10px;
    color: white;  
    
}
.Header{
    color: white;
    display: flex;
    width: 100%;
    gap: 60px;
    padding: 10px;
    justify-content: space-between;
}
.Twoheaders{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.Head2{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}
.get{
    background: none;
    color: white;
    border-radius: 9px;
    height: 100%;
    padding: 7px;
    border-color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    width: 120px;
    height: 100%;
}
.our{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
}
.inputcontainer{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #959ead;
    
}
.inputbox{
    padding: 20px;
    background-color: white;
    color: black;
    display: flex;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 50%;
    border: none;
}
input{
    border: none;
    outline: none;
    width: 600px;
    height: 100%;
    padding: 5px;
    border: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;

}
.search{
    width: 100px;
    padding: 10px;
    background-color:#1565d8;
    color: white;
    border: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
}
.Threecon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
button{
    background: none;
    color: white;
    border-radius: 3px;
    height: 100%;
    padding: 3px;
    border-color: white;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    width: 100px;
    height: 100%;
}
.Midcontent{
    width: 100%;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    color: black; 
}
.Container2{
    width:100%;
    margin: auto;
    padding: 10px;
    color: black;  
    border-radius: 5px;
    border: 1px solid #E5EAF4;
   


}
.twobody{
    color: black;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 10px;
    justify-content: center;
}
.image{
    width: 600px;
    height: 100%;
    padding: 10px;
}
.word4{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.word41{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}
.body2{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.featured{
    background-color:#e1f7ee ;
    color: #1565d8;
    border-radius: 20px;
    font-size: 12PX;
}
.word2{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    line-height: 48px;
    color: #183b56;
}
.word3{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #5a7184;
}
.wd2{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #183b56;
}
.Twosections{
    color: black;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.Section1{
    width: 100%;
    height: 100%;

}
.wrdsec1{
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    line-height: 48px;
    color: #183b56; 
}
.wrdsec2{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #183b56;
}
.view{
    background: none;
    color: #1565d8;
    border-radius: 9px;
    height: 50%;
    padding: 3px;
    border-color: #1565d8;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    width: 100px;  
}
.Twopictures{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    
    
}
.pic1{
    width: 100%;
   border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-image: url(Image.png);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 100vh;
    box-shadow: 0px 20px 50px 0px rgba(15, 24, 44, 0.15);
}
.pic2{
    width: 100%;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-image: url(base2.png);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 100vh;
    border-radius: 16px;
   
    background-color: black;
    box-shadow: 0px 20px 50px 0px rgba(15, 24, 44, 0.15);
    
    
}
.threewdp{
    display: flex;
 width: 100%;
 height: 100%;
    padding: 20px;
    flex-direction: column;
}
.featured1{
    background-color:#cff9e7 ;
    color: #36B37E;
text-align: center;
font-size: 16px;
border-radius: 15px;
border: none;
outline: none;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.wdp2{
    color: #FFF;
font-size: 36px;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 700;
line-height: 48px;

padding: 30px;
}
.wdp3{
    display: flex;
    align-items: center;
   
}
.viola{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
}
.wd2{
    color: white;
    font-size: 13px;
}
.date{
    color: white;
    font-size: 13px;
}
.Threepictures{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
   
    
}

.pic3{
    width: 100%;
   border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-image: url(Image4.png);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 100vh;
    box-shadow: 0px 20px 50px 0px rgba(15, 24, 44, 0.15);
}
.pic4{
    width: 100%;
   border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-image: url(img.png);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    height: 100vh;
    box-shadow: 0px 20px 50px 0px rgba(15, 24, 44, 0.15);
}
.pic5{
    width: 100%;
    border-radius: 5px;
     font-family: 'Open Sans', sans-serif;
     color: white;
     background-image: url(img2.png);
     background-size: cover;
     background-attachment: scroll;
     background-repeat: no-repeat;
     height: 100vh;
     box-shadow: 0px 20px 50px 0px rgba(15, 24, 44, 0.15);
}
.wdp21{
    color: #FFF;
font-size: 28px;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 700;
line-height: 36px;
justify-content: left;
}
.wdpp{
    color: #FFF;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    justify-content: left;
}
.wdp31{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.wd22{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: #183b56;
}
.word4{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.Twobases{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.pic7{
    width: 100%;
    border-radius: 5px;
     font-family: 'Open Sans', sans-serif;
     color: white;
     background-image: url(img4.png);
     background-size: cover;
     background-attachment: scroll;
     background-repeat: no-repeat;
     height: 100vh;
     box-shadow: 0px 20px 50px 0px rgba(15, 24, 44, 0.15);
}
.pic8{
    width: 100%;
    border-radius: 5px;
     font-family: 'Open Sans', sans-serif;
     color: white;
     background-image: url(Base.png);
     background-size: cover;
     background-attachment: scroll;
     background-repeat: no-repeat;
     height: 100vh;
     box-shadow: 0px 20px 50px 0px rgba(15, 24, 44, 0.15);
}
.featured11{
    background-color:#e1f7ee ;
    color: #36B37E;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    outline: none;

}
.pic9{
    width: 100%;
    border-radius: 5px;
     font-family: 'Open Sans', sans-serif;
     color: white;
     background-image: url(pic9.png);
     background-size: cover;
     background-attachment: scroll;
     background-repeat: no-repeat;
     height: 100vh;
     box-shadow: 0px 20px 50px 0px rgba(15, 24, 44, 0.15);
}
.pic10{
    width: 100%;
    border-radius: 5px;
     font-family: 'Open Sans', sans-serif;
     color: white;
     background-image: url(pic10.png);
     background-size: cover;
     background-attachment: scroll;
     background-repeat: no-repeat;
     height: 100vh;
     box-shadow: 0px 20px 50px 0px rgba(15, 24, 44, 0.15);
}
.pic11{
    width: 100%;
    border-radius: 5px;
     font-family: 'Open Sans', sans-serif;
     color: white;
     background-image: url(pic11.png);
     background-size: cover;
     background-attachment: scroll;
     background-repeat: no-repeat;
     height: 100vh;
     box-shadow: 0px 20px 50px 0px rgba(15, 24, 44, 0.15);
}
.view11{
    background: none;
    color: #1565d8;
    border-radius: 9px;
    height: 50%;
    padding: 10px;
    border-color: #1565d8;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    width: 160px;  
    
}
.Section21{
    align-items: center;
    display: flex;
    justify-content: center;
}
.Footcontent{
   background-color: #0D2436;
   width: 100%;
    margin: auto;
    padding: 30px;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    
    
}
.Lastsection{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    gap: 50px;
}
.Ls1{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.item{
    width: 100%;
    height: 100%;
}
.Ls2{
    width: 100%;
    height: 100%;
}
.ss1{
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.2px;
}
.inputbox1{
    width: 50%;
    display: flex;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    align-self: center;
    justify-content: center;
}
.inputbox1 button{
    cursor: pointer;
    border-radius: 3px;
    padding: 7px;
    width: fit-content;
    background-color: #1565d8;
    color: white;
    border: none;
    outline: none;
}
.foooter{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.ss3{
    font-size: 14px;
    color: #959ead;
}

@media screen and (max-width: 1000px) {
    .twobody{
        flex-direction: column;
    }

    .image{
        width: 100%;
    }

    .Twopictures{
        flex-direction: column;
    }

    .Threepictures{
        flex-direction: column;
    }
}


@media screen and (max-width:800px) {
    .Head2{
        display: none;
    }    

    input{
        width: 100%;
    }

    .Threecon{
        flex-direction: column;
    }
    .Container1 {
        width: 100%;
        margin: auto;
        padding: 10px;
        color: white;
    }
    .our{
        font-size: 40px;
    }
    .word2{
        font-size: 30px;
    }
    .word3{
        font-size: 15px;
    }
    .wrdsec1{
        font-size: 35px;
    }
    .view{
        height: 30%;
        padding: 3px;
        font-size: 15px;
    }
    .wrdsec2{
        font-size: 13px;
    }
    .wdp2{
        font-size: 24px;
        line-height: 42px;
        padding: 2px;
        flex-direction: column;
    }
    .Lastsection{
        flex-direction: column;
    }
    .foooter{
        object-fit: contain;
    }
}
